body {
  min-height: 100vh;
}

#header-container {
  padding-top: 18px;
  padding-bottom: 0;
  border-bottom: 2px solid #9e9e9e;
}

#header {
  height: 72px;
}

#header h1 {
  float: left;
  color: hsl(0, 0%, 20%);
  font-size: 30px;
}

#header hr {
  display: none;
}

#header h2 {
  float: right;
  font-size: 17px;
  margin-top: 11px;
  color: hsl(0, 0%, 20%);
}

.fa-globe {
  font-size: 24px;
  margin-bottom: -2px;
  margin-left: 5px;
}

#section-container {
  padding-top: 30px;
  padding-bottom: 0;
}

.level-divider {
  background-color: hsl(0, 0%, 86%);
  border: none;
  display: block;
  height: 1px;
  margin: .5rem 0 1.5rem;
}

#pages-form,
#included-pages {
  display: none;
}

#pages-title {
  margin-right: 15px;
  font-weight: bold;
}

#pages-input {
  width: 115px;
}

.dropdown .button:focus {
  border-color: rgb(219, 219, 219);
  box-shadow: none;
}

.results-title {
  display: inline-block;
  color: #424242;
  padding-bottom: 16px;
  border-bottom: 2px solid #bdbdbd;
  font-size: 1.8rem;
}

#results-icon {
  float: right;
}

.notification p {
  display: inline-block;
}

.notification .subtitle {
  display: block;
}

.dropdown-menu {
  width: 100%;
}

.dropdown .button {
  padding-left: 25px;
  padding-right: 25px;
}

.fa-plus {
  margin-right: 15px;
}

.dropdown .fa-angle-down {
  font-size: 20px;
  margin-left: 15px;
}

.checkbox {
  width: 100%;
}

.checkbox b {
  float: right;
}

.extras-include {
  margin-left: 74px;
  font-size: 15px;
  color: #616161;
}

#graphic-design-include,
#prototyping-include,
#administration-include {
  display: none;
}

#duration-amount {
  margin-left: 6px;
  font-size: 23px;
}

#payment-amount {
  margin-left: 2px;
  font-weight: bold;
  font-size: 24px;
}

#recurring-amount {
  font-size: 23px;
}

#payment-title,
#time-title,
#features-title {
  margin-top: -10px;
  padding-top: 10px;
  border-top: 2px solid rgba(245, 245, 245, .68);
  margin-left: 2px;
  font-weight: 600;
  font-size: 23px;
}

#estimate-divider {
  background-color: #bdbdbd;
  border: none;
  height: 1px;
  margin-top: 0;
  margin-bottom: 22px;
}

#info-col-footer {
  text-align: center;
}

#info-col-footer button {
  width: 66%;
  margin: 0 auto 16px;
}

#info-col-footer p {
  font-size: 18px;
  font-weight: 600;
}

#info-col-footer a {
  color: #424242;
}

.fa-github {
  font-size: 24px;
  margin-top: 14px;
}

#footer-section h3 {
  text-align: center;
  padding-top: 22px;
  font-weight: 600;
  font-size: 17px;
}

#results-added {
  margin-top: 12px;
  text-align: center;
}

@media only screen and (max-width: 1020px) {
  #details-container {
    display: block;
  }

  #details-column,
  #estimate-column {
    width: 100%;
  }

  #footer-section {
    padding-top: 0;
  }

  #footer-section h3 {
    padding-top: 10px;
  }
}

@media only screen and (max-width: 779px) {
  #header-container {
    padding-bottom: 50px;
  }

  #header {
    text-align: center;
  }

  #header h1,
  #header h2 {
    float: initial;
  }

  #header h2 {
    margin-top: 25px;
  }

  #header hr {
    display: block;
  }
}

@media only screen and (min-width: 530px) and (max-width: 768px) {
  .level,
  .level-right {
    display: flex;
  }
}

@media only screen and (max-width: 530px) {
  .level-item {
    justify-content: left;
  }
}

@media only screen and (max-width: 448px) {
  #header-container {
    height: 155px;
  }

  #header h2 {
    line-height: 30px;
  }

  #header .fa-globe {
    display: none;
  }
}

@media only screen and (max-width: 415px) {
  #header-container {
    padding-bottom: 0;
    height: 102px;
  }

  #header h1 {
    font-size: 26px;
  }

  #header h2 {
    display: none;
  }
}
